/* RESET */
html, head, body, section, ul, li, a, p, h1, h3, h5, label, div, span {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: baseline;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
}

button, input {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-align: baseline;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  width: auto;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* HEADER */
section.header {
  width: 100%
}

section.header > ul {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid gray;
}

section.header > ul > li {
  float: left;
}

section.header > ul > li > a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 5px 11px;
  margin: 5px 0;
  transition: padding 0.2s;
}

section.header > ul > li:not(:last-child) > a {
  border-right: 1px solid gray;
}

section.header > ul > li:hover > a {
  padding: 0px 11px 10px 11px;
}

/* MAIN */

section#main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

section#main > h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

section#main > p {
  font-size: 25px;
}

section#main > ul {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

section#main > ul > li {
  float: left;
}

section#main > ul > li > a {
  display: block;
  text-decoration: underline;
  padding: 0 60px;
  font-size: 14px
}

ul.errors {

}

ul.errors > li {

}

/* tabs */
div.tabs {
  overflow: hidden;
  width: 400px;
  padding-top: 50px;
  margin: 0 auto;
  font-size: 14px;
}

div.tabs h3 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

div.tabs p {
  padding-bottom: 10px;
}

div.tabs a {
  text-decoration: underline;
}

div.active {
  margin-top: 0;
  transition: margin-top 0.5s;
}

div.transitioning {
  margin-top: -400px;
}

/* location form */
div.location {
	display: inline-block;
  margin: 20px auto;
  font-size: 14px;
}

div.location > label {
  font-weight: bold;
}

div.location > input {
  width: 300px;
  padding: 3px 10px;
}

div.location > button {
  font-weight: bold;
  cursor: pointer;
}

div.location > button:hover {

}
/* location info */
div.location > p {
  float: left;
	text-align: center;
}

div.location > p > span {
  font-weight: bold;
  padding-right: 20px;
}

div.location > a {
  float: left;
  color: blue;
  font-size: 12px;
  text-decoration: underline;
  padding-left: 20px;
}

div.location > a:hover {

}

a#search {
	display: block;
	width: 20px;
	text-align: center;
	margin: 0 auto;
	padding: 7px 25px 7px 15px;
	border-radius: 50%;
	background-color: red;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	box-shadow: 0 20px darkred;
	margin-top: 0;
	margin-bottom: 0;
	transition: box-shadow 0.1s, margin-top 0.1s, margin-bottom 0.1s;
}

a#search:active {
	margin-top: 20px;
	box-shadow: 0 0 darkred;
	margin-bottom: -20px;
}

/* results */
div.results {
  padding-top: 50px;
}

div.results > a.name {

}

div.results > a.name:hover {

}

div.results h3 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

div.results > span {
  font-size: 20px;
  padding: 10px 0;
}

div.results > h5 {
  font-size: 20px;
  padding: 10px 0;
}

div.results > a:last-child {
  color: blue;
  text-decoration: underline;
  padding: 20px 0;
}

div.results > a:last-child:hover {

}

div.results > p {
  font-size: 30px;
}

/*HOME LINK*/
nav.home {
  width: 1000px;
  margin: 0 auto;
}

nav.home > a {
  display: block;
  text-decoration: underline;
}

/* LOADING */
div.loading {
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
